$nav_height: 60px;
$nav_link_width: 200px;
$background_color: #666666;
$nav_background_color: #555555;
$nav_link_background_highlight_color: #666666;
$nav_link_highlight_color: #3399cc;
$nav_link_color: #ACBDDF;

@mixin big_link {
	text-decoration: none;
	font-size: 26px;
	&:hover {
		
	}
}

html {
  	background: url("../data/santa.png");
	background-image: url("../data/santa.png");
	background-position: left bottom;
	background-size: contain;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: $background_color;
	background-repeat: no-repeat;
}

.navbar {
	width: auto;
	height: $nav_height;
	background-color: $nav_background_color;

	.nav-link {
		@include big_link;
		padding-top: 12px;
		text-align: center;
		display: inline-block;
		width: $nav_link_width;
		height: $nav_height;
		color: $nav_link_color;
		&:hover, .active{
			background-color: $nav_link_background_highlight_color;
			color: $nav_link_highlight_color;
		}
	}

	.name {
		font-size: 26px;
		color: #3E0814;
		&:hover, .active {
			color: #3E0814;
		}
	}
}

