/* Put your CSS here */
.ember-application {
    margin: 20px;
    background-color: transparent;
    position: right middle;

}

.active {
  font-weight: bold;
}

div .navbar-inverse .navbar-brand {
color: #eeeeee;
}
div .navbar-inverse .navbar-brand:hover,
div .navbar-inverse .navbar-brand:focus {
color: #3399cc;
}

div .navbar-inverse .navbar-nav>li>a {
  color:#eeeeee;
}

div .navbar-inverse .navbar-nav>li>a:hover,
div .navbar-inverse .navbar-nav>li>a:focus {
  color:#3399cc;
  background-color:transparent;
}

.navbar-nav>li>a {
  padding-top: 15px !important;
}

.navbar-header {
  color: #eeeeee;
}

.social-icon:hover,
.social-icon:focus {
  color: #3399cc;
}

.social-icon {
  color: #eeeeee;
}

div.container {
  padding-right:15px;
  padding-left:15px;
  margin-right:5%%;
  margin-left:45%;
}
div.container:before,
div.container:after {
  display:table;
  content:" ";
}
div.container:after {
  clear:both;
}
div.container:before,
div.container:after {
  display:table;
  content:" ";
}
div.container:after {
  clear:both;
}
@media(min-width:768px) {
  div.container{width:375px}
}
@media(min-width:992px) {
  div.container{width:485px}
}
@media(min-width:1200px) {
  div.container{width:585px}
}

div.content-text {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  line-height: 1.428571429;
  color: #eeeeee;
}

.content-text a {
  text-decoration: none;
  color: #eeeeee;
}

.content-text a:hover,
.content-text a:focus {
  text-decoration: none;
  color: #3399cc;
}

body { 
  padding-top: 70px;
}

html {
  background: url("../data/santa.png");
	background-image: url("../data/santa.png");
	background-position: left bottom;
	background-size: contain;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: #666666;
	background-repeat: no-repeat;
}