/* Put your CSS here */
.ember-application {
    margin: 20px;
    background-color: transparent;
    position: right middle;

}

.active {
  font-weight: bold;
}

div .navbar-inverse .navbar-brand {
color: #eeeeee;
}
div .navbar-inverse .navbar-brand:hover,
div .navbar-inverse .navbar-brand:focus {
color: #3399cc;
}

div .navbar-inverse .navbar-nav>li>a {
  color:#eeeeee;
}

div .navbar-inverse .navbar-nav>li>a:hover,
div .navbar-inverse .navbar-nav>li>a:focus {
  color:#3399cc;
  background-color:transparent;
}

.navbar-nav>li>a {
  padding-top: 15px !important;
}

.navbar-header {
  color: #eeeeee;
}

.social-icon:hover,
.social-icon:focus {
  color: #3399cc;
}

.social-icon {
  color: #eeeeee;
}

.container {
  background-color: transparent;
}

.about {
  position: relative;
  margin: 0 auto;
  width: 65%;
}

.resume {
  height: 1070px;
}

body { 
  padding-top: 70px;
}


html {
  background: url("../data/santa.jpg");
	background-image: url("../data/santa.gif");
	background-position: left bottom;
	background-size: contain;
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: #666666;
	background-repeat: no-repeat;
}