<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Brad Eckert's Personal Website</title>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/all.css">
  <link rel="stylesheet" href="font-awesome-4.0.3/css/font-awesome.min.css">
</head>
<body>

  <%= yield %>

  <div class="footer">
    <ul class="pull-right">
      <li><a href="https://github.com/bradeckert" target="_blank"><i class="fa fa-github fa-2x social-icon"></i></a></li>
      <li><a href="http://www.linkedin.com/pub/bradley-eckert/4b/46/778" target="_blank"><i class="fa fa-linkedin fa-2x social-icon"></i></a></li>
      <li><a href="https://www.facebook.com/brad.eckert" target="_blank"><i class="fa fa-facebook fa-2x social-icon"></i></a></li>
      <li><a href="https://twitter.com/ChefEckert" target="_blank"><i class="fa fa-twitter fa-2x social-icon"></i></a></li>
    </ul>
  </div>
  <script src="javascripts/libs/jquery-1.10.2.js"></script>
  <script src="javascripts/libs/handlebars-1.1.2.js"></script>
  <script src="javascripts/libs/ember-1.2.0.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="javascripts/all.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="tests/runner.js"></script>
</body>
</html>