<script type="text/x-handlebars">
  <div class="navbar">
    {{#link-to 'about'}}<div class="nav-link name">Brad Eckert</div>{{/link-to}}
    {{#link-to 'about'}}<div class="nav-link">About</div>{{/link-to}}
    {{#link-to 'projects'}}<div class="nav-link">Projects</div>{{/link-to}}
    {{#link-to 'resume'}}<div class="nav-link">Resume</div>{{/link-to}}
    {{#link-to 'contact'}}<div class="nav-link">Contact</div>{{/link-to}}
    <ul class="pull-right">
      <li><a href="https://twitter.com/ChefEckert"><i class="fa fa-twitter fa-2x social-icon"></i></a></li>
      <li><a href="https://github.com/bradeckert"><i class="fa fa-github fa-2x social-icon"></i></a></li>
      <li><a href="http://www.linkedin.com/pub/bradley-eckert/4b/46/778"><i class="fa fa-linkedin fa-2x social-icon"></i></a></li>
      <li><a href="https://www.facebook.com/brad.eckert"><i class="fa fa-facebook fa-2x social-icon"></i></a></li>
    </ul>
  </div>
  <div class='container'>
    {{outlet}}
  </div>
</script>

<script type="text/x-handlebars" id="about">
  <div class="about content-text">
    <p>Welcome to my site!</p>
    <p>I am a junior at MIT currently studying <a href="http://www.eecs.mit.edu/">computer science</a> with a concentration in economics. I am currently working on building my frontend development skills while working at Nest Labs in Palo Alto, California.</p>
    <p>In my spare time (when MIT allows me that pleasure...) I like to ski, cook, enjoy the closest beer, and read or watch George R.R. Martin reduce his cast of characters.</p>
    <p>This website will be a showcase of my skills, what projects I have worked on, and anything else I find amusing enough to share. Feel free to contact me to learn more!</p>
  </div>
</script>

<script type="text/x-handlebars" id="resume" class="resume">
  <img src="data/resume.jpg" />
</script>

<script type="text/x-handlebars" id="contact">
  <address>
    <strong>Brad Eckert</strong><br>
    <a href="mailto:beckert@mit.edu?Subject=Personal%20Website" target="_top">beckert@mit.edu</a><br>
    <abbr title="Phone">P:</abbr> (650) 575-9634
  </address>
</script>

  